## Task 1 - SQL

### Build SparkSession:

In [1]:
import findspark
findspark.init()
import pyspark
from pyspark.sql import SparkSession

spark = (SparkSession.builder.appName('SparkSQL')
         .enableHiveSupport()
         .config("spark.jars.packages", "org.apache.spark:spark-avro_2.12:3.0.1")
         .getOrCreate())

spark = SparkSession.builder.appName('SparkSQL').enableHiveSupport().getOrCreate()

### Read the json file:

In [2]:
df = spark.read.json('DataFrames_sample.json')

### Display the schema:

In [3]:
df.printSchema()

root
 |-- D: double (nullable = true)
 |-- H: double (nullable = true)
 |-- HDD: string (nullable = true)
 |-- Id: long (nullable = true)
 |-- Model: string (nullable = true)
 |-- RAM: string (nullable = true)
 |-- ScreenSize: string (nullable = true)
 |-- W: double (nullable = true)
 |-- Weight: double (nullable = true)
 |-- Year: long (nullable = true)

### Create TempView:

In [4]:
df.createOrReplaceTempView("sample")

### Get all the data when "Model" equal "MacBook Pro":

In [5]:
macBook_df = spark.sql('select * FROM sample WHERE Model = "MacBook Pro"')
macBook_df.show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Display "RAM"column and count "RAM" column:

In [6]:
spark.sql('SELECT RAM FROM sample').show()
spark.sql('SELECT count(RAM) FROM sample').show()

+----+
| RAM|
+----+
|16GB|
| 8GB|
| 8GB|
|64GB|
+----+

+----------+
|count(RAM)|
+----------+
|         4|
+----------+

### Get all columns when "Year" column equal "2015"

In [7]:
spark.sql('SELECT * FROM sample WHERE Year = 2015').show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all when "Model" start with "M":

In [8]:
spark.sql('SELECT * FROM sample WHERE Model LIKE "M%"').show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
|7.74|0.52|256GB SSD|  2|    MacBook| 8GB|       12"|11.04|  2.03|2016|
|8.94|0.68|128GB SSD|  3|MacBook Air| 8GB|     13.3"| 12.8|  2.96|2016|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all data when "Model" column equal "MacBook Pro"

In [9]:
spark.sql('SELECT * FROM sample WHERE Model = "MacBook Pro"').show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all data with Multiple Conditions when "RAM" column equal "8GB" and "Model" column is "Macbook".

In [10]:
spark.sql("SELECT * FROM sample WHERE RAM = '8GB' AND Model = 'MacBook'").show()

+----+----+---------+---+-------+---+----------+-----+------+----+
|   D|   H|      HDD| Id|  Model|RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-------+---+----------+-----+------+----+
|7.74|0.52|256GB SSD|  2|MacBook|8GB|       12"|11.04|  2.03|2016|
+----+----+---------+---+-------+---+----------+-----+------+----+

### Get all data with Multiple Conditions when "D" greater than or equal "8" and "Model" column is "iMac".

In [11]:
spark.sql("SELECT * FROM sample WHERE D >= 8 AND Model = 'iMac'").show()

+---+----+-------+---+-----+----+----------+----+------+----+
|  D|   H|    HDD| Id|Model| RAM|ScreenSize|   W|Weight|Year|
+---+----+-------+---+-----+----+----------+----+------+----+
|8.0|20.3|1TB SSD|  4| iMac|64GB|       27"|25.6|  20.8|2017|
+---+----+-------+---+-----+----+----------+----+------+----+

## Task 2

### Read "test1" dataset:

In [12]:
test1_df = (spark.read.format('csv')
            .option('header','true')
            .load('test1.csv')
            )
test1_df.show()
test1_df.createOrReplaceTempView("test1")

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

### Display Salary of the people less than or equal to 20000

In [13]:
spark.sql("SELECT Salary FROM test1 WHERE Salary <= 20000").show()

+------+
|Salary|
+------+
| 20000|
| 20000|
| 15000|
| 18000|
+------+

### Display Salary of the people less than or equal to 20000 and greater than or equal 15000

In [14]:
spark.sql("SELECT Salary FROM test1 WHERE Salary <=20000 AND Salary >= 15000").show()

+------+
|Salary|
+------+
| 20000|
| 20000|
| 15000|
| 18000|
+------+

## Task 3

### Read "test3" dataset:

In [15]:
test3_df = (spark.read.format('csv')
            .option('header','true')
            .load('test3.csv')
            )
test3_df.createOrReplaceTempView("test3")

### Display dataset

In [16]:
test3_df.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

### Display schema

In [17]:
test3_df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: string (nullable = true)

### Group by "Name" column and using sum function on "Name" column

In [18]:
spark.sql("SELECT Name, sum(salary) AS sum_salary FROM test3 GROUP BY Name").show()

+---------+----------+
|     Name|sum_salary|
+---------+----------+
|Sudhanshu|   35000.0|
|    Sunny|   12000.0|
|    Krish|   19000.0|
|   Mahesh|    7000.0|
+---------+----------+

### Group by "Name" column and using avg function on "Name" column

In [19]:
spark.sql("SELECT Name, avg(salary) AS avg_salary FROM test3 GROUP BY Name").show()

+---------+------------------+
|     Name|        avg_salary|
+---------+------------------+
|Sudhanshu|11666.666666666666|
|    Sunny|            6000.0|
|    Krish| 6333.333333333333|
|   Mahesh|            3500.0|
+---------+------------------+

### Group by "Departments" column and using sum function on "Departments" column

In [20]:
spark.sql("SELECT Departments, sum(salary) AS sum_salary FROM test3 GROUP BY Departments").show()

+------------+----------+
| Departments|sum_salary|
+------------+----------+
|         IOT|   15000.0|
|    Big Data|   15000.0|
|Data Science|   43000.0|
+------------+----------+

### Group by "Departments" column and using mean function on "Departments" column:

In [21]:
spark.sql("SELECT Departments, mean(salary) AS mean_salary FROM test3 GROUP BY Departments").show()

+------------+-----------+
| Departments|mean_salary|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

### Group by "Departments" column and using count function on "Departments" column:

In [22]:
spark.sql("SELECT Departments, count(Departments) AS department_count FROM test3 GROUP BY Departments").show()

+------------+----------------+
| Departments|department_count|
+------------+----------------+
|         IOT|               2|
|    Big Data|               4|
|Data Science|               4|
+------------+----------------+

### Apply agg to using sum function get the total of salaries

In [23]:
spark.sql("SELECT sum(salary) AS salary_sum FROM test3").show()

+----------+
|salary_sum|
+----------+
|   73000.0|
+----------+